{% extends "base.html" %}
{% block content %}
<h1>Archives for {{ period | reverse | join(' ') }}</h1>

{% for article in dates %}
<article>
  <div class="article_title">
    <a href="{{ SITEURL }}/{{ article.url }}">
        <h3>
            {{ article.title }} <br>
            <small><span class="glyphicon glyphicon-calendar"></span> {{ article.locale_date }}</small>
        </h3>
    </a>
  </div>
  <div class="article_text">
    {{ article.summary }}
  </div>
</article>
{% endfor %}
{% endblock %}