{% extends "base.html" %}
{% block content %}
<h2>Archives for {{ period | reverse | join(' ') }}</h2>

{% for article in dates %}
<article>
  <div class="timestamps text-muted">{{ article.date.strftime('%d %b %Y') }}</div>
  <div class="article_title">
    <a href="{{ SITEURL }}/{{ article.url }}">
        <h3>
            {{ article.title }} <br>
            {% if article.subtitle %}
            <small>{{ article.subtitle }}</small><br>
            {% endif %}
        </h3>
    </a>
  </div>
  <div class="article_text">
    {{ article.summary }}
  </div>
</article>
{% endfor %}
{% endblock %}